* {
    box-sizing: border-box;
}

@font-face {
    font-family: "Page";
    src: url('assets/fonts/Figtree-VariableFont_wght.ttf');
}

body {
    background-color: hsl(47, 88%, 63%);
    margin-top: 100px;
    font-size: 16px;
}

.container {
    background-color: hsl(0, 0%, 100%);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid black;
    width: 315px; 
    height: 430px;
    box-shadow: 7px 7px 0 0 black;
    margin: auto; 
    overflow: hidden;
}

.asset {
    border-radius: 10px;
    margin-top: 50px; 
    width: 280px; 
}

.learning {
    background: hsl(47, 88%, 63%);
    width: 25%;
    padding: 6px;
    border-radius: 3px;
    font-weight: 800;
    font-family: "Page", sans-serif;
    font-size: 0.875rem;
    margin-left: 20px;
}

.published {
    font-family: "Page", sans-serif;
    font-size: 0.938rem;
    font-weight: 500;
    position: relative;
    right: 60px;
}

.maintext {
    font-family: "Page", sans-serif;
    font-size: 1.313rem;
    font-weight: 800;
    position: relative;
    right: 15px;
}

.description {
    border-radius: 5px;
    font-family: "Page", sans-serif;
    font-size: 0.813rem;
    font-weight: 500;
    color: hsl(0, 0%, 50%);
    text-align: left;
    margin-left: 20px;
    line-height: 20px;
}

.imgauthor {
    width: 30px;
    position: relative;
    right: 125px;
}

.name {
    font-size: 0.813rem;
    font-weight: 800;
    font-family: "Page", sans-serif;
    position: relative;
    bottom: 40px;
    right: 60px;
}

.container:hover {
    box-shadow: 12px 12px 0 0 black;
}



.maintext:hover {
    color: hsl(47, 88%, 63%);
    cursor: pointer;
}

.maintext:active {
    color: hsl(47, 88%, 63%);
    cursor: pointer;
}

@media screen and (max-width: 320px) {
    .container {
        width: 315px;
        overflow: hidden;
    }

    .asset {
        width: 90%;
        margin-top: 30px;
    }

    .container,
    .asset {
        max-width: 90%;
    }

    .image,
    .card-text,
    .author {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .learning {
        margin-left: -175px;
        text-align: center;
    }

    .published {
        margin-left: 30px;
        padding: 0;
        margin-top: 0;
    }

    .maintext {
        margin-left: 10px;
        font-size: 1.2rem;
        margin-top: 0;
    }

    .description {
        margin-left: 15px;
        font-size: 0.7rem;
        font-weight: 500;
        line-height: 18px;
        margin-top: 0;
    }

    .imgauthor {
        margin-left: 35px;
        margin-top: 20px;
    }

    .name {
        text-align: center;
        margin-left: 25px;
    }
}